:root{
    color-scheme: light dark;
}
.theme-wrapper{
    --color-theme-primary-hue: 229;
    --color-theme-primary-lightness: 44%;
    --color-theme-primary-saturation: 30%;
    --color-theme-primary: hsl(var(--color-theme-primary-hue), var(--color-theme-primary-saturation), var(--color-theme-primary-lightness));
    --color-theme-secondary: hsl(321, 37%, 35%);
    --color-background-main-lightness: var(--color-theme-primary-lightness);
    --color-placeholder: hsl(var(--color-theme-primary-hue), var(--color-theme-primary-saturation), calc(var(--color-theme-primary-lightness) * 1.5));
    --color-selected-lightness: 40%;
    --color-background-selected: hsl(var(--color-theme-primary-hue), var(--color-theme-primary-saturation), var(--color-selected-lightness));

}
#theme-toggle:checked + .theme-wrapper{
    --color-background-main-lightness: 17%;
}
#theme-toggle, #nav-toggle{
    display: none;
}
input::placeholder{
    color: var(--color-placeholder);
}
@media screen and (prefers-color-scheme: dark){
    :root{
        color-scheme: dark;
    }
    .theme-wrapper{
        --color-background-main-lightness: 17%;
        --color-selected-lightness: 30%;
    }

    label[for="theme-toggle"]{
        background-image: url("/images/icons/light-mode.svg");
    }
    #theme-toggle:checked + .theme-wrapper{
        --color-background-main-lightness: var(--color-theme-primary-lightness);
        --color-selected-lightness: 40%;
    }
    #theme-toggle:checked + .theme-wrapper label[for="theme-toggle"]{
        background-image: url("/images/icons/dark-mode.svg");
    }
}
@media screen and (prefers-color-scheme: light){
    :root{
        color-scheme: light;
    }
    label[for="theme-toggle"]{
        background-image: url("/images/icons/dark-mode.svg");
    }
    #theme-toggle:checked + .theme-wrapper{
        --color-background-main-lightness: 17%;
        --color-selected-lightness: 30%;
    }
    #theme-toggle:checked + .theme-wrapper label[for="theme-toggle"]{
        background-image: url("/images/icons/light-mode.svg");
    }
}
label[for="theme-toggle"]{
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    /*background-image: url("/images/icons/dark-mode.svg");*/
}
.nav__wrapper{
    background-color: hsl(var(--color-theme-primary-hue), var(--color-theme-primary-saturation), var(--color-background-main-lightness));
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 0.5rem;
}
nav {
    display: flex;
    flex-direction: column;
    position: relative;
    --animation-time: 0.25s;
    padding: 1rem 1rem 0;
}
.nav__header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.hamburger-btn {
    z-index: 2; /*Only needed if you park the menu in same location*/
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    cursor: pointer;
}

.hamburger-line {
    background-color: white;
    flex: 0 0 0.2rem;
    width: 100%;
    transition: transform var(--animation-time),
    opacity calc(var(--animation-time) * 1.5), scale var(--animation-time);
}

.hamburger-line:nth-child(1),
.hamburger-line:nth-child(3) {
    transform-origin: left;
}

/*nav.open .menu {*/
/*    transform: translateY(0);*/
/*}*/

#nav-toggle:checked + nav .hamburger-line:nth-child(1) {
    transform: rotate(45deg) scaleX(1.25);
}

#nav-toggle:checked + nav .hamburger-line:nth-child(2) {
    opacity: 0;
}

#nav-toggle:checked + nav .hamburger-line:nth-child(3) {
    transform: rotate(-45deg) scaleX(1.25);
}
.navbar__nav{
    font-family: "Zalando Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 400;
    color: hsl(var(--color-theme-primary-hue), var(--color-theme-primary-saturation), calc(var(--color-theme-primary-lightness) * 2));
    list-style: none;
    margin: 1rem 0;
    padding: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
#nav-toggle:checked + nav .navbar__nav{
    display: flex;
}
#nav-toggle:checked ~ .navbar__search-form{
    display: none;
}
.navbar__nav a{
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: inherit;
}
.navbar__nav a[aria-current="page"]{
    background-color: var(--color-background-selected);
}
.navbar__item img{
    display: block;
    height: 1.5rem;
}
.navbar__search-form{
    display: block;
    margin: 0.5rem;
}
.search-modal__form{
    display: flex;
    align-items: center;
    gap: 0.2rem;
    border: 1px solid hsl(var(--color-theme-primary-hue), var(--color-theme-primary-saturation), calc(var(--color-theme-primary-lightness) * 1.5));
    padding: 0.5rem;
    border-radius: 1rem;
}
.search-modal__input{
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
}
@media screen and (min-width: 990px){
    .hamburger-btn{
        display: none;
    }
    .nav__wrapper{
        display: flex;
        align-items: center;
        padding: 1rem;
    }
    nav{
        display: contents;

    }
    .navbar__nav{
        display: flex;
        margin: 0 1rem;
        flex-direction: row;
        align-items: flex-start;
        gap: 1rem;
    }
    .nav__header{
        display: contents;
    }
    label[for="theme-toggle"]{
        order: 1;
        margin-left: 1rem;
    }
    .navbar__search-form{
        margin: 0;
        flex: 1;
    }
    #nav-toggle:checked ~ .navbar__search-form{
        display: block;
    }

}